<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAG3T7PefFAHTV6rtRi_HGTfzfTgOeipXE</string>
	<key>GCM_SENDER_ID</key>
	<string>688553563392</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterAdvance</string>
	<key>PROJECT_ID</key>
	<string>elearning-edspert-trial</string>
	<key>STORAGE_BUCKET</key>
	<string>elearning-edspert-trial.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:688553563392:ios:c89cc1068fa3c077150fe5</string>
</dict>
</plist>